h1 {
    font-size: 4em;
    color: rgba(182, 36, 36, 0.986);
}

h2 {
    font-size: 2.5em;
    color: rgb(175, 57, 57);
}

h3 {
    font-size: 1.5em;
    color: rgb(141, 75, 75);

}
/*
CHALLENGE
Dar formato a las etiquetas h2 y h3
pPasandole el tamaño de la fuente, y un color.
*/