
<html>
    <head>
        <!--Este es el título -->
    <title>Mi primera pagina web </title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>  
    <!-- 

        Crear un título con el siguiente texto: Hola mundo. en H1
    -->
        <a href="{{url_for('inicio')}}"> Inicio </a> 
        <a href="{{url_for('contacto')}}"> Contacto </a> 
        <h1>Hola Mundo!</h1> 
                                                    <!--- # Etiquetas Atributos Parametros --->
        
        


        <h2>Mi nombre es Daniel Matos.</h2>
        <h3>Estoy en Penguin porque quiero aprender a programar!</h3>
    <!-- 
        Challenge:
        Crear un titulo h2 con el texto:
        Mi nombre es ...
        Crear un título h3 con el texto:
        Y estoy en Penguin porque....

    -->
      
    <img src="static/perrito.webp" alt="border collie con lentes">
    
    <!-- 
        width="300" height="250"
    -->
    
    
    </body>
</html>